
@import
url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  font-family:'Muli', sans-serif; 
}
a {
  margin-right: 75px;
  margin-left: auto;
  text-align: center;
  color: #D4ECDD;
  margin-bottom: 50px;
  }
div{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #345B63;
}

h1{
  color: #D4ECDD
}
body {
  margin: 0;
  height: 1000px;
  color: #a7a7a7;
  font-family: open sans, arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}

*,
*:hover,
*:focus{
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
}

p {
  margin-top: 5px;
  font-family: Old Standard TT;
  text-align: center;  
  line-height: 1.5em;
}

ul {
  margin-bottom: 1.5em;
}
strong {
  color: #333;  
}

.navigation ul li a {
  margin: 0 15px;
  display: inline-block;
  color: #D4ECDD;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: .05em;
}

.navigation ul li a:hover {
  color: #333;
}


h1 {
  padding-bottom: 14px;
  position: relative;
  
  color: #D4ECDD;
  font-weight: 300;
  text-align: center;
  letter-spacing: .025em;
}

h1:after {
  margin: 0 auto;
  width: 50px;
  height: 7px;
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  background: #D4ECDD;
  
  transition: all .3s;
}

h1:hover:after {
  width: 100px;
}


